/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

* { box-sizing: border-box }


a {
    color:#000;
    text-decoration:none;
    -webkit-transition: color 80ms linear;
    -moz-transition: color 80ms linear;
    -o-transition: color 80ms linear;
    transition: color 80ms linear;
}

a:visited {
    color:#000;
}

a:hover{
    color:#727272;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
    margin: 0 0%;
}


/* ===================
    ALL: Layout
   =================== */

.col-3{
    width:33.33333%;
    display: inline-block;
    height:100%;
    vertical-align: top;
    font-size:14px;
}

html,
body,
.main-container{
    height:100%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.main-img{
    background:#eee;
    width:100%;
    height:100%;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {

}

nav a:hover,
nav a:visited {
}

nav a:hover {
}

.page-title{
    float:right;
    color:#727272;
    -webkit-transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
}

.navbar-header{
    padding:20px;
}

nav .main-nav{
    height:0px;
    -webkit-transition: height 400ms ease-out;
    -moz-transition: height 400ms ease-out;
    -o-transition: height 400ms ease-out;
    transition: height 400ms ease-out;
    overflow:hidden;
    position: absolute;
    width:100%;
    background:rgba(255,255,255,0.95);
}

nav.open .main-nav{
    height:120px;
    border-bottom:1px solid #eee;
}

nav.open .page-title{
    opacity:0;
}


nav .main-nav li{
    text-align:center;
    width:100%;
}

nav .main-nav a{
    font-size:14px;
    line-height:30px;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0px 20px 20px 20px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.right-col,
.left-col{
    display: none;
}

.center-col{
    width:100%;
}

img.main-img{
    width:100%;
    margin-bottom:20px;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */


/* ============
    WIDE: Main
   ============ */

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .main {
        padding: 34px 48px;
    }

    .wrapper {
        width: 100%; /* 1140px - 10% for margins */
        height:100%;
        margin: 0 auto;
        font-size:0;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}